@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700&family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  box-sizing: border-box;
  font-family: sans-serif;

}

.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-direction: row;
 padding: 2rem;
 background-color: rgb(67, 151, 243);
 color: white;
 text-transform: uppercase;
 
}

.navbar-header {
  font-size: 1.2rem;
  text-transform: uppercase;
  max-width: 100px;
  
}

.navbar-links ul {
  display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: row;
 text-decoration: none;
 list-style-type: none;
 font-weight: bold;
 font-size: 0.8rem;
 

}

.navbar-links ul li {
  padding: 1rem;
}




/* ------------- */
/* Events.       */
/* ------------- */

.events-container {
  display: grid;
  grid-gap: 0rem;
    padding: 0rem;
    margin: 0rem;
    grid-template-columns: repeat(3, minmax(350px, 1fr));
}

.event-img {
  width: 300px;
  z-index: -1;
}

.event {
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem;

}

.event h3 {
  margin: 0;
  font-size: 2rem;
  color: rgb(67, 151, 243);
}
.event h4 {
  margin-top: 0;
}

.event button {
  width: 20rem;
  margin-top: 1.5rem;
  background: black;
  padding: 1.0rem 2rem;
  border-radius: 10px;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: 700;
}

.event-details {
  align-self: center;
}

li.li-tag {
  font-size: 8px;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 20px;
  color: rbg(67, 151, 243);
  background-color: rgb(67, 151, 243);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  color: white;
  font-weight: bold;
  
}
ul.tags {
  padding: 0;

  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.api-image {
  
  margin: auto;
  margin-bottom: 6rem;
}
.container-fluid {
  max-width: 50%;
}